<form name="form1" action="controlerForm" method="post">
    <input type="text" name="id" id="id" placeholder="id"><br>
    <input type="text" name="name" id="name" placeholder="Name"><br>
    <input type="text" name="age" id="age" placeholder="Age"><br>
    <input type="submit" name="btsub" id="btsub" value="Add" ><br>
</form>